:root {--principal-color: rgb(156, 39, 176);
        --secondary-color: rgb(118, 255, 3);}

main {display: grid;
    grid-template-areas:
        "asideL content asideR" 
        "asideL content asideR";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    column-gap: 4%;}

    .asideL { grid-area: asideL;}
    .Content {grid-area: contentL, contentR;}
    .ContentL {grid-area: contentL;}
    .ContentR {grid-area: contentR;}
    .asideR { grid-area: asideR;}


body {margin: 0%;}

h1,h2,h3,h4,p,a {font-family: 'Roboto', sans-serif;}

.auxBG {border: 5px solid blue;}
/*body {background-color: rgb(20, 20, 20);}*/
/*.Texto {color: rgb(244, 217, 249)}*/ 

header {position:sticky; top:0px; margin: 0px;}

.navbar {background-color: var(--principal-color); width: 100%; height:auto; z-index: 1;}
.navbar ul {margin:0% 10%; display: flex; align-items: center; padding: 0%;}
.navbar ul li {list-style: none; padding: 1%;}
.navbar ul a {text-decoration: none; color: rgb(255, 255, 255);}
.navbar--profile {border-radius: 50%; border: 1px solid rgb(20, 20, 20); z-index: 2; position:fixed; margin-left: 30%;}

main {margin:0% 10%}
main section img { height: 160px; width: 100px;}
.main-aside-profile-image {border-radius: 50%; border: 1px solid rgb(20, 20, 20); width: 2rem; height: 2rem;}
.asideL,.asideR {margin-top: 40%;}
.asideL div {display:flex; flex-wrap: wrap; margin:8% 1%; align-items: center;}
.asideL div p {margin: 1%;}

.Content section {display: flex; justify-content:space-evenly; align-content: center ;}
.SectionHeader {display: flex; justify-content: space-between; margin-right:8%; margin-left: 8%; align-items: center;}

footer {background-color: rgb(0, 0, 0);}
footer ul li {list-style: none; display: inline;}
footer p {color: var(--secondary-color);}